@import "reset";
@import "fonts";
@import "functions";

.main {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    width: 1440px;
  }

  @import "header";
  @import "navigation-mobile";
  @import "planos";

}

.only-mobi {
  display: block;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.only-desk {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}
