<div id="planos">
  <div class="box">
    <div class="bg"></div>
    <h2 class="title">Plano 1</h2>
    <p class="descr">Máquina Wifi</p>
    <div class="price">R$ 9,90<span>/mês + taxas</span></div>
    <a href="produtos" title="Saiba mais" class="bt">
      <span>Saiba mais</span>
    </a>
  </div>

  <div class="box">
    <div class="bg"></div>
    <h2 class="title">Plano 2</h2>
    <p class="descr">Máquina Wifi e Chip</p>
    <div class="price">R$ 29,90<span>/mês + taxas</span></div>
    <a href="produtos" title="Saiba mais" class="bt">
      <span>Saiba mais</span>
    </a>
  </div>

  <div class="box">
    <div class="bg"></div>
    <h2 class="title">Plano 3</h2>
    <p class="descr">Máquina Chip</p>
    <div class="price">R$ 19,90<span>/mês + taxas</span></div>
    <a href="produtos" title="Saiba mais" class="bt">
      <span>Saiba mais</span>
    </a>
  </div>
</div>


<swiper id="carousel">
  <slides>
    <slide>
      <div class="person">
        <div class="pic"><img src="./src/assets/mulher.png" alt="Ramona Carter" /></div>
        <div class="descr">
          <div class="name">Ramona Carter</div>
          <div class="func">Co-fundador e sócio geral, Administradores.com</div>
        </div>
      </div>
      <p class="testemonial">Temos o prazer de trabalhar com o Doutss para tornar mais fácil para nossos fundadores
        internacionais gastar mais tempo trabalhando na inicialização e menos tempo na papelada.</p>
    </slide>
    <slide>
      <div class="person">
        <div class="pic"><img src="./src/assets/mulher.png" alt="Ramona Carter" /></div>
        <div class="descr">
          <div class="name">Ramona Carter</div>
          <div class="func">Co-fundador e sócio geral, Administradores.com</div>
        </div>
      </div>
      <p class="testemonial">Temos o prazer de trabalhar com o Doutss para tornar mais fácil para nossos fundadores
        internacionais gastar mais tempo trabalhando na inicialização e menos tempo na papelada.</p>
    </slide>
    <slide>
      <div class="person">
        <div class="pic"><img src="./src/assets/mulher.png" alt="Ramona Carter" /></div>
        <div class="descr">
          <div class="name">Ramona Carter</div>
          <div class="func">Co-fundador e sócio geral, Administradores.com</div>
        </div>
      </div>
      <p class="testemonial">Temos o prazer de trabalhar com o Doutss para tornar mais fácil para nossos fundadores
        internacionais gastar mais tempo trabalhando na inicialização e menos tempo na papelada.</p>
    </slide>
  </slides>
  <pagination></pagination>
</swiper>

<div id="cadastro">
  <div class="title">Cadastre-se agora</div>
  <div class="subtitle">Ganhe um 5% de desconto no primeiro mês.</div>
  <form name="formCadastro" ng-submit="cadastrar()" novalidate>
    <div>
      <input class="email" name="email" type="email" placeholder="Digite seu email" ng-model="cadastro.email"
        ng-required="true" autocomplete="off" />
      <div ng-show="formCadastro.email.$touched  && formCadastro.email.$invalid">
        <small style="display: block; color: red; padding-left: 20px;">Preencha o email corretamente.</small>
      </div>
    </div>
    <input class="submit" type="submit" value="Cadastrar" ng-disabled="formCadastro.$invalid" />
  </form>
</div>
